<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Treni</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<link id="favicon" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favico.jpg')}}">


</head>
<body>
    <div class="floating-element"></div>
    <div class="floating-element"></div>
    <div class="floating-element"></div>
    
    <div class="container" id="content">
        <h1>🚂 TRAIN</h1>
        
        <div class="button-grid">
            <button class="route-button" onclick="fetchTrains('BtoT')">
                Bari Centrale <span class="arrow">⇆</span> Trani
            </button>
            <button class="route-button" onclick="fetchTrains('BtoBT')">
                Bari Centrale <span class="arrow">⇆</span> Torre Q.
            </button>
            <button class="route-button" onclick="fetchTrains('BTtoT')">
                Torre Quetta <span class="arrow">⇆</span> Trani
            </button>
            <button class="route-button" onclick="fetchTrains('BTtoBSS')">
                Torre Quetta <span class="arrow">⇆</span> S. Spirito
            </button>
        </div>
        
        <div id="results" class="results-container"></div>
        <div id="results2" class="results-container"></div>
    </div>
    
    <!-- Overlay con spinner -->
    <div class="overlay" id="overlay">
        <div class="spinner"></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

   
</body>
</html>
