<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Treni</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link id="favicon" rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favico.jpg')}}">

</head>
<body style="background-image: url('{{ url_for('static', filename='images/background.jpg') }}');">   

      <div class="content" id="content">
      <h1>Ricerca Treni Regionali</h1>
      <div>
        <button onclick="fetchTrains('BtoT')">Bari Centrale-Trani</button>
        <button onclick="fetchTrains('BtoBT')">Bari Centrale-Torre Q.</button>
    </div>
    <div></div>
        <button onclick="fetchTrains('BTtoT')">Torre Quetta-Trani</button>
        <button onclick="fetchTrains('BTtoBSS')">Torre Quetta-S. Spirito</button>
    </div>
        <div id="results"></div>
        <div id="results2"></div>
    </div>

    <!-- Overlay con spinner -->
    <div class="overlay" id="overlay">
        <div class="spinner"></div>
    </div>


    
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
