<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ricerca Treni</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

   
</head>
<body>
    <h1>Ricerca Treni Regionali</h1>
    <button onclick="fetchTrains()">Cerca Treni</button>
    <div id="results"></div>
    <div id="results2"></div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
